.grid-container {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 30px 30px 30px 30px 30px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}

#grid-item-equals {
    grid-column-end: span 4;
}

#grid-item-screen {
    grid-column-end: span 4;
}
